body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
    color: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 22px);
}

button {
    background-color: #6200ea;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 0;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-group button {
    background-color: #6200ea;
    margin-left: 10px;
    padding: 10px;
}
